body{
    background-color: #fffbf7;
}



/* ######################################################################################## */

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header {
    height: 45px;
    margin: 15px 20px;
    font-size: 0;
    font-family: sans-serif;
}
.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.header a {
    text-decoration: none;
    color: #025157;
}

.logo{
    width: 15%;
}
.logo img{
    height: 100%;

}
.navbar {
    width: 70%;
    height: 45px;
    text-align: center;
    font-weight: 500;
    
    
}
.navbar ul {
    margin: 0px;
    
}
.navbar li{
    display: inline;
    margin: 0 25px;
}


.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
.actions > * {
    margin: 0 10px;
}
.actions a {
    color: #67b54b;
}
.actions button{
    color: white;
    background-color: #67b54b;
    padding: 6px 50px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #025157;
}

/* ######################################################################################## */
.main{
    margin-top: 285px;
    text-align: center;
}

.main h1{
    font-family: 'Alegreya', serif;
    color: #025157;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 24px;
}

.main h4{
    color: #46484c;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.main form{
    height: 55px;
}
.main form input{
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 100%;
    border-radius: 8px;
}

.main form button{
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6  px 20px;
    margin-left: -10px;
    width: 100px;
    height: 70px;
    border-radius: 8px;
}

/* ######################################################################################## */

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img {
    width: 120px;
    margin-top: 10px;
  }

.publish{
    margin: 0 20px;
    color: #343434;
}
.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin-top: 0;
}
.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form {
    display: flex;
}

.publish > form p {
    color: #025157;
    margin-right: 18px;
}

