body {
    color: #fffbf7;
}
h1 {
    color: #025157;
}
h4 {
    color: #46484c;
}

button {
    color: #fff;
    background-color: #025157;
}

.header {
    margin: 40px 20px;
    font-size: 0;
}
.header > *{
    display: inline-block;
    font-size: 16px;
}

.logo{
    width: 15%;
}
.navbar {
    width: 70%;
}
.actions{
    width: 15%;
}

.navbar li{
    display: inline;
}